﻿@model Hellhole.WebUI.Data.Band

@{
    ViewData["Title"] = "Create band";
}

<h2>Create band </h2>

<h4>Band</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Bands" asp-action="Create" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Style" class="control-label"></label>
                <input asp-for="Style" class="form-control" />
                <span asp-validation-for="Style" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Origin" class="control-label"></label>
                <input asp-for="Origin" class="form-control" />
                <span asp-validation-for="Origin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LinkSpotify" class="control-label"></label>
                <input asp-for="LinkSpotify" placeholder="Optional" class="form-control" />
                <span asp-validation-for="LinkSpotify" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LinkSoundCloud" class="control-label"></label>
                <input asp-for="LinkSoundCloud" placeholder="Optional" class="form-control" />
                <span asp-validation-for="LinkSoundCloud" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="image" class="control-label"></label>
                <input name="image" type="file" class="form-control" accept="image/*"/>
            </div>
            <input type="hidden" asp-for="LinkImage" value="foo" />
            <div class="form-group">
                <label asp-for="LinkFacebook" class="control-label"></label>
                <input asp-for="LinkFacebook" class="form-control" />
                <span asp-validation-for="LinkFacebook" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LinkYoutube" class="control-label"></label>
                <input asp-for="LinkYoutube" class="form-control" />
                <span asp-validation-for="LinkYoutube" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LinkBandcamp" class="control-label"></label>
                <input asp-for="LinkBandcamp" class="form-control" />
                <span asp-validation-for="LinkBandcamp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
<img src="@Url.RouteUrl("Salut")"/>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
