﻿@model Hellhole.WebUI.Data.Band

@{
    ViewData["Title"] = "Band Details";
}

<h2>Band Details</h2>

<div>
    <h4>Band : @Html.DisplayNameFor(model => model.Name)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Style)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Style)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Origin)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Origin)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LinkSpotify)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LinkSpotify)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LinkSoundCloud)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LinkSoundCloud)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LinkImage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LinkImage)
            <p><img src="@Model.LinkImage" class="hel-image" alt="ca va marcher" /></p>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LinkFacebook)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LinkFacebook)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LinkYoutube)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LinkYoutube)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LinkBandcamp)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LinkBandcamp)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.BandID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
