﻿@model Hellhole.WebUI.Data.Band

@{
    ViewData["Title"] = "Edit band";
}

<h2>Edit band</h2>

<h4>Band : @Html.DisplayNameFor(model => model.Name)</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" asp-controller="Bands" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BandID" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Style" class="control-label"></label>
                <input asp-for="Style" class="form-control" />
                <span asp-validation-for="Style" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Origin" class="control-label"></label>
                <input asp-for="Origin" class="form-control" />
                <span asp-validation-for="Origin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LinkSpotify" class="control-label"></label>
                <input asp-for="LinkSpotify" class="form-control" />
                <span asp-validation-for="LinkSpotify" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LinkSoundCloud" class="control-label"></label>
                <input asp-for="LinkSoundCloud" class="form-control" />
                <span asp-validation-for="LinkSoundCloud" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="file" class="control-label"></label>
                <input name="file" class="form-control" type="file" accept="image/*" />
                <p><img src="@Model.LinkImage" alt="image of @Model.Name" class="hel-image" /></p>
                <input asp-for="LinkImage" class="form-control" type="hidden" value="@Model.LinkImage"/>
                <span asp-validation-for="LinkImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LinkFacebook" class="control-label"></label>
                <input asp-for="LinkFacebook" class="form-control" />
                <span asp-validation-for="LinkFacebook" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LinkYoutube" class="control-label"></label>
                <input asp-for="LinkYoutube" class="form-control" />
                <span asp-validation-for="LinkYoutube" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LinkBandcamp" class="control-label"></label>
                <input asp-for="LinkBandcamp" class="form-control" />
                <span asp-validation-for="LinkBandcamp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
