﻿@model IEnumerable<Hellhole.WebUI.Data.Band>

@{
    ViewData["Title"] = "List of bands";
}
<div class="row">
    <div class="col-md-12">
        <h2>List of bands</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <p>
            <a asp-action="Create">Create New</a>
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-data">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Style)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Origin)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LinkSpotify)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LinkSoundCloud)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LinkImage)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LinkFacebook)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LinkYoutube)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LinkBandcamp)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Style)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Origin)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LinkSpotify)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LinkSoundCloud)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LinkImage)
                            <p><img src="@item.LinkImage" alt="image of @item.Name" class="hel-image" /></p>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LinkFacebook)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LinkYoutube)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LinkBandcamp)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.BandID">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.BandID">Details</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

