﻿@model Hellhole.WebUI.Data.Place

@{
    ViewData["Title"] = "Create new place";
}

<h2>Create new place</h2>

<h4>Place</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Places" asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="PostalCode" class="control-label"></label>
                <input asp-for="PostalCode" class="form-control" />
                <span asp-validation-for="PostalCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Street" class="control-label"></label>
                <input asp-for="Street" class="form-control" />
                <span asp-validation-for="Street" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Number" class="control-label"></label>
                <input asp-for="Number" class="form-control" />
                <span asp-validation-for="Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Commune" class="control-label"></label>
                <input asp-for="Commune" class="form-control" />
                <span asp-validation-for="Commune" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mailbox" class="control-label"></label>
                <input asp-for="Mailbox" class="form-control" />
                <span asp-validation-for="Mailbox" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
