﻿@model Hellhole.WebUI.Data.Place

@{
    ViewData["Title"] = "Place details";
}

<h2>Place details</h2>

<div>
    <h4>Place</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PostalCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PostalCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Street)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Street)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Number)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Number)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Commune)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Commune)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Mailbox)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Mailbox)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PlaceID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
