﻿@model IEnumerable<Hellhole.WebUI.Data.Place>

@{
    ViewData["Title"] = "List of places";
}

<h2>List of places</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-data">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.PostalCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.City)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Street)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Number)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Commune)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Mailbox)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PostalCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Street)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Commune)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mailbox)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PlaceID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PlaceID">Details</a> |
            </td>
        </tr>
}
    </tbody>
</table>
