﻿@model Hellhole.WebUI.Data.Participation

@{
    ViewData["Title"] = "Delete participation";
}

<h2>Delete participation</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Participation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Starting)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Starting)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ending)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ending)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Canceled)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Canceled)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Band)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Band.BandID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Event)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Event.EventID)
        </dd>
    </dl>
    
    <form asp-action="Delete" asp-controller="Participations" method="post">
        <input type="hidden" asp-for="EventID" />
        <input type="hidden" asp-for="BandID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
