﻿@model Hellhole.WebUI.Data.Participation

@{
    ViewData["Title"] = "Participation details";
}

<h2>Participation details</h2>

<div>
    <h4>Participation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Starting)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Starting)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ending)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ending)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Canceled)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Canceled)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Band)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Band.BandID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Event)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Event.EventID)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { eventid = Model.EventID, bandid = Model.BandID }) |
    <a asp-action="Index">Back to List</a>
</div>
