﻿@model Hellhole.WebUI.Data.Participation

@{
    ViewData["Title"] = "Edit participation";
}

<h2>Edit participation</h2>

<h4>Participation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" asp-controller="Participations" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="EventID" />
            <input type="hidden" asp-for="BandID" />
            <div class="form-group">
                <label asp-for="Starting" class="control-label"></label>
                <input asp-for="Starting" class="form-control" />
                <span asp-validation-for="Starting" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ending" class="control-label"></label>
                <input asp-for="Ending" class="form-control" />
                <span asp-validation-for="Ending" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Canceled" /> @Html.DisplayNameFor(model => model.Canceled)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
