﻿@model IEnumerable<Hellhole.WebUI.Data.Participation>

@{
    ViewData["Title"] = "List of participations";
}

<h2>List of participations</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-data">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Starting)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Ending)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Canceled)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Band)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Starting)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ending)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Canceled)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Band.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Event.Title)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { eventid=item.EventID, bandid=item.BandID }) |
                @Html.ActionLink("Details", "Details", new { eventid = item.EventID, bandid = item.BandID }) |
                @Html.ActionLink("Delete", "Delete", new { eventid = item.EventID, bandid = item.BandID })
            </td>
        </tr>
}
    </tbody>
</table>
