﻿@model Hellhole.WebUI.Data.Event

@{
    ViewData["Title"] = "Create new event";
}

<h2>Create new event</h2>

<h4>Event</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" asp-controller="Events" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Doors" class="control-label"></label>
                <input asp-for="Doors" class="form-control" />
                <span asp-validation-for="Doors" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Curfew" class="control-label"></label>
                <input asp-for="Curfew" class="form-control" />
                <span asp-validation-for="Curfew" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" id="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <p><label><input asp-for="Type" type="radio" value="Concert" /> Concert</label></p>
                <p><label><input asp-for="Type" type="radio" value="Party" /> Party</label></p>
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Style" class="control-label"></label>
                <input asp-for="Style" class="form-control" />
                <span asp-validation-for="Style" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="file" class="control-label"></label>
                <input type="file" name="image" class="form-control" accept="image/*"/>
                <input type="hidden" asp-for="LinkImage" value="foo" />
                <span asp-validation-for="LinkImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Canceled" /> @Html.DisplayNameFor(model => model.Canceled)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="PlaceID" class="control-label"></label>
                <select asp-for="PlaceID" class ="form-control" asp-items="ViewBag.PlaceID"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
