﻿@model Hellhole.WebUI.Data.Event

@{
    ViewData["Title"] = "Event details";
}

<h2>Event details</h2>

<div>
    <h4>Event</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Doors)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Doors)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Curfew)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Curfew)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Style)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Style)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LinkImage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LinkImage)
            <img alt="Picture of event @Model.Title" class="hel-image" src="@Model.LinkImage" />
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Canceled)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Canceled)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Place)
        </dt>
        <dd>
            @Model.Place.ToString()
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.EventID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
