﻿@model IEnumerable<Hellhole.WebUI.Data.Event>

@{
    ViewData["Title"] = "List of events";
}

<h2>List of events</h2>

<p>
    <a asp-action="Create">Create new event </a>
</p>
<table class="table table-data">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Doors)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Curfew)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Type)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Style)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LinkImage)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Canceled)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Place)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Doors)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Curfew)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Style)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LinkImage)
                <img alt="Picture of event @item.Title" class="hel-image" src="@item.LinkImage" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Canceled)
            </td>
            <td>
              @item.Place.ToString()
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EventID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EventID">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
