﻿

@{
    ViewData["Title"] = "Songs";
    Layout = "~/Views/Home/_LayoutSongs.cshtml";
}
<div class="row">
    <div class="col-md-12">

    </div>
</div>
<h2>Songs</h2>

<div class="row">
    <div class="col-md-12">
        <table id="song-table" class="table table-striped">
            <thead>
                <tr>
                    <th>Artiste</th>
                    <th>Titre</th>
                    <th>Likes</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="song in songs">
                    <td> {{ song.artiste }}</td>
                    <td> {{ song.titre }}</td>
                    <td> {{ song.like }}</td>
                    <td>
                        <button v-if="liked && song.artiste + '_' + song.titre == liked" class="btn btn-warning" v-on:click="unlike(song)">Unlike</button>
                        <button v-else class="btn btn-info" v-on:click="like(song)">Like</button>
                    </td>
                    <td>
                        <button class="btn btn-danger" v-on:click="remove(song)">Remove</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div id="song-form">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="artiste">Artiste :</label>
                <input type="text" v-model="song.artiste" class="form-control" name="artiste">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="titre">Titre:</label>
                <input type="text" v-model="song.titre" name="titre" class="form-control">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button id="send-song" v-on:click="send()" class="btn btn-primary">Send</button>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            <button id="reset-songs" v-on:click="reset()" class="btn btn-danger">Reset songs</button>
        </div>
    </div>
</div>





